<!DOCTYPE html>
<html>
  <head>
    <title>Leetspeak!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    @if(@Model.canAttack() == true)
    {
      <h1>You are attacked by the queen</h1>
    }
    else{
      <h1>You are NOT attacked by the queen</h1>
    }
  </body>
</html>
