<!DOCTYPE html>
<html>
  <head>
    <title>Queen Attack!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Coordinates</h1>
    <form action="/Leetspeak">
      <label for="xq">Enter X for Queen!</label>
      <input id="xq" name="xq" class="form-control" type="text">
      <label for="yq">Enter Y for Queen!</label>
      <input id="yq" name="yq" class="form-control" type="text">
      <label for="x">Enter X!</label>
      <input id="x" name="x" class="form-control" type="text">
      <label for="y">Enter Y!</label>
      <input id="y" name="y" class="form-control" type="text">
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
